.login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login input {
  width: 100%;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  box-sizing: border-box;
}
.login button {
  line-height: 1;
  border-width: 0.2rem;
  font-size: 0.8rem;
}

.btn-login {
  width: 100%;
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #081829;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.btn-theme {
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #081829;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
